@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
:root {
  --primary-color: #f44556;
  --blur-primary-color: rgb(255, 95, 110);
  --border-color: rgb(244, 69, 86);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

.p-2 {
  padding: 2rem;
}

.green {
  background-color: rgb(114, 216, 114);
}

.blue {
  background-color: rgb(103, 103, 211);
}

.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.container {
  width: 100%;
}

.task-container {
  flex: 1 1 calc(50% - 4rem);
}

.task-form {
  flex: 1 1 calc(50% - 4rem);
}

.task-list {
  width: 100%;
}

.task-category {
  width: 100%;
  margin-bottom: 1rem;
}

.task-category_container {
  width: 100%;
}

.task-category__heading {
  font-size: 3.5rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.task-item {
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
  padding: 0.5rem;
  text-transform: capitalize;
  padding: 0.8rem;
  transition: box-shadow 500ms linear;
}

.task-item:hover {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.65);
}

.task-item__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.task-item__header {
  width: 100%;
}

.task-item__title {
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.task-item__category {
  font-size: 1.5rem;
  align-self: flex-end;
  text-transform: capitalize;
  font-weight: bold;
}

.task-form {
  width: 100%;
}

form {
  width: 100%;
}

.task-form__title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.status {
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: lowercase;
  align-self: baseline;
  padding-inline: 0.8rem;
  padding-block: 0.25rem;
  border-radius: 10px;
  color: #000;
}

.field {
  width: 100%;
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  padding: 0.8rem;
  font-weight: 300;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 500ms linear;
}

.input:focus {
  border-color: var(--primary-color);
  outline: var(--primary-color);
}

.select {
  width:  100%;
  outline: none;
  border: 1px solid #ccc;
  transition: border-color 500ms linear;
}

.select:focus-within {
  border-color: var(--primary-color);
}

.textarea {
  font-weight: 300;
  line-height: 1.6;
  padding: 0.8rem;
  outline: none;
  border: 1px solid #ccc;
  transition: border-color 500ms linear;
  resize: none;
  width: 100%;
  min-height: 8rem;
}

.textarea:focus-within {
  outline: var(--primary-color);
  border-color: var(--primary-color);
}

.btn {
  display: block;
  padding: 1rem;
  width: 100%;
  outline: none;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 900;
  transition: background 500ms linear;
}

.btn-primary {
  background: var(--primary-color);
}
.btn-primary:hover {
  background-color: var(--blur-primary-color);
}

.btn-primary:disabled {
  background: #ccc;
}

.checkbox {
  cursor: pointer;
}


.todo-tabs {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.todo-tab {
  padding: 1rem;
  width: calc(50% - 2px);
  cursor: pointer;
}

.todo-tab.active {
  color: #fff;
  background-color: #ccc;
  font-weight: 700;
}

.todo-tab-item {
  font-size: 14px;
}

.task-status {
  display:  flex;
  justify-content: space-between;
}

.status-chip {
  background: none;
  border: none;
  outline: none;
  color:#fff;
  font-weight: 300;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.45rem;
}

.status-chip:disabled {
  background: #eee;
  cursor: initial;
}

.status-todo {
  background: #ebc251;
}

.status-progress {
  background: var(--primary-color);
}

.status-done {
  background: #417b5a;
}

.task-description {
  font-size: 1.45rem;
  font-weight: 300;
  line-height: 1.8;
  text-align: justify;
  margin-bottom: 0.8rem;
}

.tab-container {
  position: relative;
  min-height: 500px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  padding-block: 2rem;
}

.tab-item {
  font-size: 1.45rem;
  position: relative;
  width: 100%;
}

.tab-item.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--primary-color);
  border-radius: 2px;
  transition: all 1s linear;
}

.tab-button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4rem;
  height: 4rem;
  border: 2px solid var(--primary-color);
  transform: rotate(0deg);
  animation: loading 800ms linear 100ms infinite;
}

.helper-text {
  font-size: 1.56rem;
}

.modal {
  all: unset;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal-background {
  position: absolute;
  width: 100%;
  min-height: 700px;
  background-color: rgba(88, 77, 226, 0.07);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 80;
  transition: all 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.modal-content {
  background-color: #fff;
  width: 30%;
  height: 300px;
  margin: 0 auto;
  box-sizing: border-box;
  opacity: 0;
  border-radius: 10px;
  position: relative;
  z-index: 90;
  overflow: auto;
  transform: translateY(-200%) scale(0.5);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19),
    opacity 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.fade-in {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.modal-label {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 800;
}

.modal-text {
  font-size: 1.65rem;
  text-align: center;
  line-height: 1.8;
  color: #333;
}

.modal-close__btn {
  position: absolute;
  right: 20px;
  top: 20px;
  bottom: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
}

.close-btn {
  background: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: inherit;
  outline: none;
  border: none;
  color: #fff
}

.edit-button {
  outline: none;
  border: none;
  background: #ccc;
  padding: 0.5px 2rem;
  cursor: pointer;
}

.edit {
  font-size: 1.5rem;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  70% {
    transform: rotate(280deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 769px) {
  .d-flex {
    flex-direction: column;
  }

  .task-container {
    order: 2;
  }
  
  .task-form {
    order: 1;
  }

  .status-chip {
    font-size: 1rem;
  }
}